#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		salt: dpjQCxBpDxDjQKBubzXJ8Jqe

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=localhost;dbname=obsys'
			user: obsys
			password: w6taVUS6bebZ9wme
			reflection: ResSys\OwnDiscoveryReflection

		session:
			expiration: 14 days

	services:
		authenticator: ResSys\Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		database: @nette.database.default
		productModel: ResSys\ProductModel
		vatModel:   ResSys\VatModel
		actionModel: ResSys\ActionModel
		orderModel: ResSys\OrderModel
		orderFieldModel: ResSys\OrderFieldModel
		fetchHourModel: ResSys\FetchHourModel
		userModel: ResSys\UserModel

	factories:


production < common:

development < common:
