{block content}

{control productgrid}

{*
    <h1>Výpis produktů</h1>
    {foreach $posts as $post}
    <div class="post">
        <h2>{$post->name}</h2>
        <div class="post_desc">
            {$post->description}
        </div>
    </div>
    {/foreach}
*}

{/block}