{var $robots = noindex}

{block #content}

{control signInForm}

<div>
    V případě, že uživatelský účet nemáte,
    <a n:href="Sign:register">zaregistrujte se!</a>
</div>

{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
